body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main
{
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.t1
{
    text-align: center;
}
button
{
    float: right;
    margin-right: 20px;
}