*{
    font-family: "Times New Roman", Times, serif;
    background-color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
.logoDiv{

    width: 400px;
}
.logo{
    width: 240px;
    height: 200x;
    position: relative;
}

.adminToggle{
    width: 10%;
    position: absolute;
    right: 20%;
    
}
.contToggle{
    width: 10%;
    position: absolute;
    right: 7%;

}

h3{
    width: 100px;
    position: relative;
    top: 5%;
    text-align: center;
    right: 10%;

}

.main{

    position: absolute;
    top: 18%;
    left: 37%;
    height: 50%;
    padding: 15px;
    font-size:large;
}
.loginHead{
    text-align: center;
    position: relative;
    bottom: 6%;
}

input{
    background-color: rgb(231, 243, 254);
    border: none;
    border-radius: 5px;
    font-size: large;
    padding: 14px;
    width: 370px;
    margin-top: 6px;
    margin-bottom: 5px;
    text-align: center;
} 
i{
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}
button{
    border: none;
    border-radius: 5px;
    padding: 13px;
    color: white;
    background-color: #10385a;
    width: 100%;
    font-size:large;
    margin-top: 1em;
}
button:hover{
    background-color: #164f81;

}
.rlink{
    text-align: center;
    color: #10385a;
}
a{
    color: #10385a;;
}
#mssg
{
    color:red;
}