*{
    font-family: "Times New Roman", Times, serif;
}
img{
    height: 75vh;
    width: 60vh;
}
.certificate{
    position: absolute;
    top: 15%;
    left: 2%;
}
.name{
    font-size:2em;
    position: relative;
    left: 2.5em;
}
.para{
    font-size: 1em;
    text-align: center;
}
button{
    border: none;
    border-radius: 5px;
    padding: 13px;
    color: white;
    background-color: #10385a;
    width: 20%;
    font-size: 2em;
    text-transform: uppercase;
    height: 70px;
    font-size:large;
    margin-top: 1em;
}

/* Result question display */
.box{
    display: flex;
    justify-content: space-evenly;
}
.resultSection{
    display: flex;
    justify-content: space-around;
}
.resultHead{
    position: relative;
    left: 45%;
}


.extQue {
    border: 1px solid #ddd;
    width: 400px;
}

.extQue h4 {
    margin: 8px 0;
}

.cans {
    color: green;}