body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
 

  }
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border-bottom: 1px solid;
}
.logoDiv{
    width: 400px;
}
.logo{
    width: 240px;
    height: 200x;
    position: relative;
    bottom: 2%;
}
  .head{
    display: flex;
    justify-content: space-around;
    width: 73%;
  }

  .support{
    position: relative;
    left: 10%;
    background-color: #023f80;
    color: rgb(255, 255, 255);
    height: 50px;
    padding: 15px;
    border: none;
    border-radius: 5px;
  }
  .support:hover{
    background-color: #0d58a7;

  }
.model{
  display:none;

}
.submit-model{
  border: none;
  border-radius: 5px;
  padding: 13px;
  color: white;
  background-color: #10385a;
  position: relative;
  left: 40%;
}
  .model-header{
    display: flex;
    height: 50px;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
  }
  h4{
    position: relative;
    left: 30%;
  }
  .close{
    height: 26px;
    position: relative;
    left: 50%;
    border: none;
    font-size: x-large;
    background-color: white;
  }
  .close:hover{
    color: red;
  }
  .main {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    position: absolute;
    top: 27%;
    left: 20%;
  }
  
  .e1 {
    text-align: center;
  }
  
  #d1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .qes
  {
    display: flex;
    margin: 10px;
  }
  .q
  {
    margin-left: 8px;
  }
  .model{
    position: absolute;
    top: 25%;
    right: 3%;
    height: 350px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    box-shadow: -5px -2px 13px 0px rgba(96,96,99,1);
  }
  
  #time {
    color: #00f339;
    font-size: 16px;
  }
  
 .qhead{
  position: relative;
  left: 21%;
 }
  
  #q {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  input[type="radio"] {
    vertical-align: middle;
    margin-right: 10px;
  }
  
  input{
    background-color: rgb(231, 243, 254);
    border: none;
    border-radius: 5px;
    font-size: large;
    padding: 4px;
    margin: 10px;
  }
  label {
    display: inline-block;
    margin-bottom: 5px;
    margin: 7px;
  }
  
  #op1, #op2, #op3, #op4 {
    font-size: 16px;
  }
  
  .b1, .b2 {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
  }
  
  .b1 {
    background-color: #195487;
    border: none;
    border-radius: 5px;
    padding: 13px;
    color: white;
  }
  
  .b2 {
    background-color: #10385a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 13px;
    color: white;
  }
  .b1:hover {
    background-color: #065ab4;
  }
  .b2:hover {
    background-color: #065ab4;
  }
  .submit{
    border: none;
    border-radius: 5px;
    padding: 13px;
    color: white;
    background-color: #10385a;
    width: 10%;
    position: absolute;
    top: 80%;
    left: 60%;
    font-size:large;
    margin-top: 1em;
}
.submit:hover{
  background-color: #034b98;
}
.b1:disabled,.b2:disabled
{
  background-color: #5585b5;
}


.profile
{
    width:100px;
    height:100px;
    border: 1px solid;
    border-radius: 50px;
}
