body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #113f67;
}
.main
{
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #142d4c;
    width: 700px;
    height: 700px;
}
.update,.result
{
    display: none;
    margin-top: 20px;
}
.qoptions,.qdisplay,.csearch,.cdisplay
{
    border: 1px solid black;
    padding: 20px;
    width: 350px;
    height: 500px;
}
.qoptions button
{
    margin-bottom: 8px;
    background-color: #113f67;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}
.homebtn
{
    height: 30px;
    width: 30px;
    box-shadow: 0 0 3px #142d4c;
    border-radius: 18px;
    padding: 2px;
}
.home button
{
    float: right;
    background-color: #385170;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 20px;
    font-size: 20px;
}
h1
{
    text-align: center;
}
button
{
    box-shadow: 0 0 3px #142d4c;
}
button:active,img:active
{
    box-shadow: none;
}
.logoimg
{
    width: 700px;
    height: 500px;
    padding: 20px;
}
.logo
{
    display: block;
}
.addqt,.removeqt,.updateqt,.searchqt
{
    display: none;
}
.fun
{
    font-size: 5px;
    margin-top: 5px;
}